# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
.venv
venv
env
*.egg-info

# Node
node_modules
frontend/node_modules
frontend/dist

# IDE
.vscode
.idea

# Docs
docs
*.md

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs
